<%- include('partials/header') %>
<%- include('partials/social') %>

<section class="section-main-blogs">
    <h1 class="heading-primary">Blogs</h1>

    <% campground.forEach(function(campgrounds){ %>
        <div class="blog-box d-inline-block p-2 w-100 story" >
            <figure class="float-left story__shape">
                <img src="<%= campgrounds.image %>" alt="" class="story__img w-100">
                <figcaption class="story__caption w-100"><%=campgrounds.UserId%></figcaption>
            </figure>
            <div class="float-right w-75 py-2 story_text" >
                <div class=" ml-5 pb-2 font-s">
                    <span class=""><%= campgrounds.created.toDateString() %></span>
                </div>
                <div class="  border border-left-0 border-right-0 border-top-0  pb-2 ">
                    <a class="font-m mt-3" href="/campground/<%= campgrounds._id %>">
                    <h2 class="pl-4 heading-Secoundry-2 text-left"><%= campgrounds.name %></h2></a><br> 
                    <p class="font-m pl-4 py-1 para-small"><%=campgrounds.description%></p>       
                </div>
                <div class="font-m pl-4">
                    <a href="#" class="btn-comment">Write a comment</a>
                </div>
            </div>
        </div>
    <%  }) %>
</section>


<%- include('partials/footer') %>
