<%- include('partials/header') %>

		<section class="section-main" id="section-main">
			<div class="heading-main">
				<h1 style="color: white;"> Mrityunjaya</h1>
			</div>
		</section>
		<section class="section-about">
			<h1 class="heading-primary">About Us</h1>
			<p class="paragraph py-5">
				 
				We, at Mrityunjaya aim to create a space for discussions on Healthcare, 
				Environment and Law and the inter- relationship between them. A platform 
				for discussion of various concerns related to health and environment; 
				which we believe to be the areas that could be perfected only through 
				creation of a knowledge pool with contributions from people from all over 
				the world.
			</p>
			<a href="/Intro" class="btn-read text-center btn">Read More </a>
		</section>
		<!-- <section class="section-blogs">
			<h1 class="heading-primary">Blogs</h1>

			<% campground.forEach(function(campgrounds ){ %>
				<div class="blog-box d-inline-block p-2 w-100">
					<div class="w-30 float-left pt-1 pl-1">
						<img src="<%= campgrounds.image %>" alt="" class="w-100">
					</div>
					<div class="float-right w-65 py-2" >
						<div class=" ml-5 pb-2 font-s">
							<span class=""><%= campgrounds.created.toDateString() %></span>
						</div>
						<div class="  border border-left-0 border-right-0 border-top-0  pb-2 ">
							<a class="font-m mt-3" href="/campground/<%= campgrounds._id %>">
							<h2 class="pl-4 heading-Secoundry-2 text-left"><%= campgrounds.name %></h2></a><br> 
							<p class="font-m pl-4 py-1 para-small"><%=campgrounds.description%></p>       
						</div>
						<div class="font-m pl-4">
							<a href="#" class="btn-comment">Write a comment</a>
						</div>
					</div>
				</div>
			<%  }) %>
		</section> -->
		<section class="section-JoinUs" id="section-JoinUs">
				<div class="book mx-5">
					<div class="book__form text-center">
						<div class="mt-4 text-center">
							<h2 class="heading-Primary-2">
								Join Us
							</h2>
						</div>
						<!-- <form action="" class="bookform">
							<div class="bookform__group">
								<input type="text" class="bookform__input" placeholder="Full-Name" id="name" required>
								<lable for="name" class="bookform_lable">Full Name</lable>
							</div>
							<div class="bookform__group">
								<input type="text" class="bookform__input" placeholder="email-Id" id="emailId" required>
								<lable for="email" class="bookform_lable">email</lable>
							</div>
							<div class="bookform__radio-group">
								<input type="radio" class="bookform__radio-input" id="small" name="size">
								<label for="small" class="bookform__radio-label">
									<span class="bookform__radio-btn mt-4"></span> small tour group
								</label>
							</div>
							<div class="bookform__radio-group">
								<input type="radio" class="bookform__radio-input" id="big" name="size">
								<label for="big" class="bookform__radio-label">
									<span class="bookform__radio-btn mt-4"></span>big tour group
								</label>
							</div>
							
						</form> -->
						<div class="join-Btn btn-group-vertical w-75 text-center mt-5">
							<a href="#" class="btn btn-green-outline my-3 w-75 py-2 ">As a Volunteer</a>
							<a href="#" class="btn btn-green-outline my-3 w-75 py-2">As a Member</a>
							<a href="#" class="btn btn-green-outline my-3 w-75 py-2">As a Professional</a>
						</div>
					</div>
				</div>
		</section>
		<section class="section-update mb-5 py-5">
			<div class="float-left font-m">
				<h2 class="heading-Secoundry">Mrityunjaya</h2>
				<p>
					I'm a paragraph. <br>Click here to add your own text and edit me.<br> Let your users get to know you.
				</p>
				<div class="">
					<span  class="font-weight-bold ">Email:</span>
					<a href="mailto:mrityunjayagroup@gmail.com">mrityunjayagroup@gmail.com</a>
				</div>
			</div>
			<div class="float-right font-m ">
				<h2 class="heading-Secoundry">Get Monthly Updates</h2>
				<p>Enter your email here</p>
				<input type="email" name="EmailId" id="email" placeholder="Email Id">
				<div class="">
					<a href="#" class="w-25 btn my-3 py-3 btn-outline-dark">Sign Up</a>
				</div>
			</div>
		</section>
		<section class="section-contactUs">
			<h2 class="heading-Primary-2">Contact Us</h2>
		</section>
<%- include('partials/footer') %>
